.venv/
__pycache__/
*.py[cod]
*.egg-info/

.pytest_cache/
.mypy_cache/

.DS_Store

var/

config/*.local.env

frontend/config.js
frontend/.env.development
frontend/.env.stage
frontend/.env.prod
frontend/dist/
